body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helvdisplay, sans-serif;
  color: #f07b7b;
  font-size: 56px;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Helvtext, sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
  font-family: Helvtext, sans-serif;
  font-size: 20px;
  line-height: 100%;
  text-align: left;
}

a {
  text-decoration: underline;
}

.flex-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #ffd5d5;
}

.right {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  color: #606060;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f5f5f5;
}

.left-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: inline-block;
  height: 100vh;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 25px;
  padding-right: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #f07b7b;
  text-align: center;
}

.text-container {
  position: relative;
}

.text-top {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6fadd6;
  color: #fff;
}

.body {
  margin-top: 25px;
  margin-right: 50px;
  font-family: Helvtext, sans-serif;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}

.button {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: block;
  padding: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  font-family: Helvtext, sans-serif;
  color: #f07b7b;
  font-size: 20px;
  line-height: 135%;
  text-align: left;
  text-decoration: underline;
}

.button.below {
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  z-index: 5;
  margin-top: -65px;
  padding-bottom: 0px;
  font-family: Helvtext, sans-serif;
  font-size: 45px;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.button.below.w--current {
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
}

.button.bottomlinks {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Helvtext, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.homelinks {
  position: static;
  left: 0%;
  right: auto;
  bottom: 0%;
  height: 0vh;
  margin-top: 50px;
  font-family: Helvtext, sans-serif;
  font-size: 20px;
  line-height: 20%;
}

.gray {
  color: #606060;
}

.right-inner {
  margin: 0px 40px 0px 20px;
  padding-top: 25px;
}

.heading {
  display: inline;
  float: none;
  clear: none;
}

.number {
  display: block;
  margin-right: 10px;
  float: left;
}

.label {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}

.link {
  display: block;
  color: #606060;
  text-transform: uppercase;
}

.collection-item {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.label---image {
  display: block;
  margin-top: 10px;
}

.list-end-div {
  margin-bottom: 30px;
}

.quotediv {
  max-width: 660px;
  margin-top: 20px;
  padding: 20px;
  border: 1px none #000;
  background-color: #f7f7f7;
  font-style: italic;
  text-transform: none;
}

.text-block-2 {
  line-height: 120%;
}

.label-div {
  margin-bottom: 10px;
  line-height: 120%;
}

.paragraph {
  width: auto;
  max-width: 570px;
  line-height: 120%;
}

.text-block-3 {
  line-height: 135%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  font-family: Helvtext, sans-serif;
  color: #606060;
}

.collection-list-wrapper {
  margin-top: 30px;
}

.vid-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background-video {
  z-index: 10;
  width: auto;
  height: 100vh;
}

.scroll-indicator {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-4 {
  font-family: Helvtext, sans-serif;
  color: #fff;
  font-weight: 400;
}

.scroll-block {
  width: 2px;
  height: 30px;
  margin-top: 9px;
  background-color: #fff;
  color: #fff;
}

.content {
  margin-top: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.line {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd5d5;
  border-radius: 1px;
}

@media screen and (max-width: 991px) {
  .flex-wrapper {
    position: static;
    display: block;
  }

  .left {
    position: static;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .section {
    display: block;
  }

  .left-inner {
    display: block;
    overflow: visible;
    height: 65vh;
    margin-right: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .body {
    display: block;
    overflow: visible;
    margin-top: 25px;
    margin-right: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .homelinks {
    display: block;
  }

  .vid-section {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .flex-wrapper {
    display: block;
  }

  .right {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .left-inner {
    height: 80vh;
    margin-right: 20px;
    padding-right: 0px;
  }

  .body {
    margin-top: 30px;
    margin-right: 0px;
  }

  .homelinks {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .left {
    margin-bottom: 0px;
    padding-bottom: 70px;
  }

  .left-inner {
    height: 99vh;
  }

  .button {
    font-size: 18px;
  }

  .button.bottomlinks {
    margin-bottom: 20px;
  }

  .gray {
    font-size: 56px;
  }

  .right-inner {
    margin-right: 20px;
  }

  .heading {
    font-size: 18px;
  }

  .number {
    font-size: 18px;
  }

  .label {
    font-size: 18px;
  }

  .link {
    font-size: 18px;
  }

  .paragraph {
    font-size: 18px;
  }

  .heading-2 {
    font-size: 56px;
  }

  .text-block-3 {
    font-size: 18px;
  }

  .scroll-indicator {
    margin-bottom: 90px;
  }
}

@font-face {
  font-family: 'Helvtext';
  src: url('../fonts/helvtext.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Helvdisplay';
  src: url('../fonts/helvdisplay.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}